:root {
    --light-green: #e7eedb;
    --medium-green: #718553;
    --dark-green: #0e3b23;

    --dominant-color: var(--light-green);
    --secondary-color: var(--medium-green);
    --accent-color: var(--dark-green);
    --bar-color: var(--accent-color);

    --text-color-main: #000000;
    --text-color-accent: #000000;

    --border-radius: 2em;
    --header-item-margin: 2em;
}

:root.dark {
    --dark-green-2: #0e3b23;
    --min-green: #9db0a3;
    --gray-green: #3a4a40;

    --text-color-main: #ffffff;
    --text-color-accent: #000000;

    --dominant-color: var(--dark-green-2);
    --secondary-color: var(--min-green);
    --accent-color: var(--gray-green);
    --bar-color: var(--accent-color);
}

* {
    margin: 0;
    padding: 0;
}
p{
    font-family: "Helvetica";
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6,h7 {
    font-family: "Helvetica";
    font-size: 1em;
}

button {
    font-family: "Helvetica";
    border: none;
    background-color: var(--accent-color);
    color: #ffffff;
    padding: 0.5em;
    margin: 1em;
    border-radius: var(--border-radius);
    cursor: pointer;
    -webkit-box-shadow: -7px 5px 19px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: -7px 5px 19px -6px rgba(66, 68, 90, 1);
    box-shadow: -7px 5px 19px -6px rgba(66, 68, 90, 1);
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header > a {
    margin-left: var(--header-item-margin);
    justify-self: start;
    align-self: center;
}

header > h1 {
    text-align: center;
    font-size: 2em;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: var(--header-item-margin);
}

main {
    flex: 1 0 auto;
    padding: 1em;
}

.header-split {
    background-color: var(--bar-color);
    height: 4px;
    border-style: 4px solid var(--bar-color);
    margin: 0 2em;
    border-radius: 2px;
}

.logo {
    height: 2.2em;
}

.main-bg {
    background: var(--dominant-color);
    color: var(--text-color-main);
}

.secondary-bg {
    background: var(--secondary-color);
    color: var(--text-color-accent);
    -webkit-box-shadow: -7px 5px 19px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: -7px 5px 19px -6px rgba(66, 68, 90, 1);
    box-shadow: -7px 5px 19px -6px rgba(66, 68, 90, 1);
}

.border-color {
    border: 2px solid var(--accent-color);
}

.border-radius {
    border-radius: var(--border-radius);
}

.site-margin {
    margin: 1em;
}
h1{
    padding-top: 7px;
    font-family: "Helvetica";
    text-shadow: 3px 3px 5px rgba(66, 68, 90, 1);
}
button:hover{
    background-color: #49B450
}
.secondary-bg-1{
    font-family: "Helvetica";
    background: var(--secondary-color);
    color: var(--text-color-accent);
    text-align: center;
    align-items: center;
    -webkit-box-shadow: -7px 5px 19px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: -7px 5px 19px -6px rgba(66, 68, 90, 1);
    box-shadow: -7px 5px 19px -6px rgba(66, 68, 90, 1);
}