* {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: var(--accent-color-day);
    color: white;
    padding: 0.5em;
    margin: 1em;
    border-radius: var(--border-radius);
    cursor: pointer;
}

:root {
    --light-green: #e7eedb;
    --medium-green: #718553;
    --dark-green: #0e3b23;

    --dominant-color-day: var(--light-green);
    --secondary-color-day: var(--medium-green);
    --accent-color-day: var(--dark-green);

    --border-radius: 2em;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header > h1 {
    text-align: center;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 2ch;
}

main {
    flex: 1 0 auto;
    padding: 1em;
}

.header-split {
    border-color: var(--accent-color-day);
    background-color: var(--accent-color-day);
    margin: 0 2em;
}

.main-bg {
    background: var(--dominant-color-day);
}

.secondary-bg {
    background: var(--secondary-color-day);
}

.border-color {
    border: 2px solid var(--accent-color-day);
}

.border-radius {
    border-radius: var(--border-radius);
}

.site-margin {
    margin: 1em;
}
